<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.xtreme.plugins.XtremePush"
	version="3.0.4"
	onLoad="true" >

	<name>XtremePush</name>
	<author>Xtreme Push</author>

	<description>
		Plugin allows integration with Xtreme Push provider.
	</description>

	<license>MIT</license>

	<js-module src="www/xtremepush.js" name="XtremePush">
		<clobbers target="XtremePush" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>
    

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="XtremePush">
                <param name="android-package" value="com.xtreme.plugins.XtremePushPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <!-- your configuration elements, references, source files, etc... -->
        <source-file src="src/android/XtremePushPlugin.java" target-dir="src/com/xtreme/plugins/" />
        <framework src="src/android/XPush.gradle" custom="true" type="gradleReference" />
        <resource-file src="lib/android/xpush_android_lib/XtremePush_lib.aar" target="lib/android/xpush_android_lib/XtremePush_lib.aar"  />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- EDIT: Required for both Geo and Beacon scanning -->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <!-- EDIT END -->
            
            <!-- EDIT: Required for Beacon scanning -->
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="false" />
            <!-- EDIT END -->
            
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
            <!-- EDIT: Required for Geo scanning -->
            <!-- <service android:name="ie.imobile.extremepush.location.ProxymityAlertReceiver"/> -->
            <service android:name="ie.imobile.extremepush.location.GeoLocationService" />
            <activity
            android:name="ie.imobile.extremepush.ui.LocationDialogActivity"
            android:label="Locations are not available"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false" />
            <!-- EDIT END -->
            
            <!-- EDIT: Required for Beacon scanning -->
            <service android:name="ie.imobile.extremepush.beacons.BeaconLocationService" />
            <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                </intent-filter>
            </receiver>
            <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:label="beacon" />
            <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true"
            android:exported="false" />
            <!-- EDIT END -->

			<!-- EDIT: Required for Attributions and Ad ID collection -->
			<receiver android:name="ie.imobile.extremepush.receivers.ReferrerReceiver"> 
				<intent-filter>
					<action android:name="com.android.vending.INSTALL_REFERRER" />
					<category android:name="$PACKAGE_NAME" /> 
				</intent-filter>
			</receiver>
			<!-- EDIT END -->
            
            <activity
            android:name="ie.imobile.extremepush.ui.InboxActivity"
            android:label="@string/title_activity_inbox"
            android:theme="@style/Theme.Transparent"
            android:configChanges="orientation|screenSize" />
            <activity
            android:name="ie.imobile.extremepush.ui.OnclickPushActivity"
            android:exported="false"
            android:taskAffinity="ie.imobile.extremepush.ui.temptask" />
            <activity
            android:name="ie.imobile.extremepush.ui.WebViewActivity"
            android:exported="false" />
            <receiver android:name="ie.imobile.extremepush.receivers.CoreBroadcastReceiver" >
                <intent-filter>
                    <action android:name="ie.imobile.extremepush.BEACON_SERVICE_STARTED" />
                    <category android:name="." />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                </intent-filter>
            </receiver>
            <receiver
                android:name="com.google.android.gms.gcm.GcmReceiver"
                android:exported="true"
                android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                    <category android:name="." />
                </intent-filter>
            </receiver>
            <service
                android:name="ie.imobile.extremepush.google.GCMListenerService"
                android:exported="false" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                </intent-filter>
            </service>
            <service android:name="ie.imobile.extremepush.NotificationOnClickHandlerService" />

            <service
            android:name="ie.imobile.extremepush.beacons.XPBeaconJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

            <receiver
                android:name="ie.imobile.extremepush.beacons.BeaconLocationReceiver"
                android:exported="true" />
            <receiver
                android:name="ie.imobile.extremepush.location.GeoLocationBroadcastReceiver"
                android:exported="true" />
            <receiver
                android:name="ie.imobile.extremepush.location.ProxymityAlertReceiver"
                android:exported="true" />

        </config-file>

     </platform>
    
    
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="XtremePush">
				<param name="ios-package" value="XtremePushPlugin"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<!-- EDIT: Required when location functionality is used -->
		<preference name="NSLocationAlwaysUsageDescription" default="We use location services to send you relevant information, when and where you need it" />
		<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
			<string>$NSLocationAlwaysUsageDescription</string>
		</config-file>
		<!-- EDIT END -->

		<framework src="Security.framework" />
		<framework src="CFNetwork.framework" />
		<framework src="MobileCoreServices.framework" />
		<framework src="CoreTelephony.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="CoreBluetooth.framework" />
		<framework src="libz.dylib" />
        <framework src="lib/ios/XPush.framework" custom = "true" />

		<!-- EDIT: Required for Attributions and IDFA collection -->
		<framework src="AdSupport.framework" />
		<!-- EDIT END -->

		<source-file src="src/ios/AppDelegate+XtremePush.m" />
		<source-file src="src/ios/Storage.m" />
		<source-file src="src/ios/XtremePushPlugin.m" />
		<header-file src="src/ios/AppDelegate+XtremePush.h" />
		<header-file src="src/ios/Storage.h" />
		<header-file src="src/ios/XtremePushPlugin.h" />
        
<!--        <source-file src="lib/ios/libXPush.a" framework="true" />-->
<!--        <header-file src="lib/ios/XPAction.h" />-->
<!--        <header-file src="lib/ios/XPMessage.h" />-->
<!--        <header-file src="lib/ios/XPMessageResponse.h" />-->
<!--        <header-file src="lib/ios/XPMessageResponseNotification.h" />-->
<!--        <header-file src="lib/ios/XPPublicConstants.h" />-->
<!--        <header-file src="lib/ios/XPush.h" />-->
	</platform>
</plugin>
