<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.xtreme.plugins.XtremePush"
    version="1.2.0"
    onLoad="true" >

    <name>XTremePush</name>
	<author>XTreme Push</author>

	<description>
		Plugin allows integration with XTreme Push provider.
	</description>

	<license>MIT</license>

	<js-module src="www/xtremepush.js" name="XTremePush">
        <clobbers target="XTremePush" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

	<preference name="XP_PROJECT_ID" />
	<preference name="XP_BEACON" default="1" />
	<preference name="XP_GEO" default="1" />
	<preference name="XP_ATTRIBUTIONS" default="0" />

	<hook type="after_plugin_install" src="scripts/after_plugin_install.js" />
	<!-- <hook type="after_plugin_rm" src="scripts/after_plugin_rm.js" /> -->

	<!-- android !-->
	<platform name="android">
		<preference name="XP_GCM_NUMBER" default="-1" />

		<resource-file src="xp-config.xml" target="xp-config.xml" />
		<config-file target="./xp-config.xml" parent="/config">
		    <xp-project-id>$XP_PROJECT_ID</xp-project-id>
		    <xp-gcm-number>$XP_GCM_NUMBER</xp-gcm-number>
		    <xp-beacon>$XP_BEACON</xp-beacon>
		    <xp-geo>$XP_GEO</xp-geo>
		    <xp-attributions>$XP_ATTRIBUTIONS</xp-attributions>
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="XTremePush" >
				<param name="android-package" value="com.xtreme.plugins.XTremePushPlugin"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="XTremePush" >
				<param name="android-package" value="com.xtreme.plugins.XTremePushPlugin"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<!-- REQUIRED PERMISSIONS for GCM -->
			<uses-permission android:name="android.permission.GET_ACCOUNTS" />

			<!-- GCM requires a Google account. -->
			<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

			<!-- This app has permission to register with GCM and receive message -->
			<!-- MODIFICATION NEEDED - Replace YOUR_PACKAGE_NAME with your package name -->
			<permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
			<uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />

			<!-- REQUIRED for XtremePush -->
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />

			<!-- Keeps the processor from sleeping when a message is received. -->
			<uses-permission android:name="android.permission.WAKE_LOCK" />

			 <!-- REQUIRED FOR GEO-LOCATION-->
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

			<!-- REQUIRED FOR IBEACON -->
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

			<uses-feature
			    android:name="android.hardware.bluetooth_le"
			    android:required="false" />


			<uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">

			<service android:name="ie.imobile.extremepush.location.ProxymityAlertReceiver"/>
			<!-- REQUIRED FOR GEO LOCATION SERVICES -->
			<service android:name="ie.imobile.extremepush.location.GeoLocationService" />
			<service android:name="ie.imobile.extremepush.beacons.BeaconLocationService" />
			
			 <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" >
				<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
				</intent-filter>
			</receiver>

			<service
			 android:name="org.altbeacon.beacon.service.BeaconService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:label="beacon" />
			 <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true"
            android:exported="false" />

			<service android:name="ie.imobile.extremepush.GCMIntentService" />
			<receiver
		        android:name="ie.imobile.extremepush.receivers.GCMReceiver"
		        android:permission="com.google.android.c2dm.permission.SEND" >
		        <intent-filter>
		            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		            <category android:name="$PACKAGE_NAME" />
		        </intent-filter>
		    </receiver>

			<activity
				  android:name="ie.imobile.extremepush.ui.DisplayPushActivity"
				  android:label="Push received"
				  android:theme="@android:style/Theme.Dialog"
				  android:exported="false" />

	       <activity
				  android:name="ie.imobile.extremepush.ui.WebViewActivity"
				  android:exported="false" />
			<activity
                android:name="ie.imobile.extremepush.ui.LocationDialogActivity"
                android:label="Locations are not available"
                android:theme="@android:style/Theme.Dialog"
                android:exported="false" />

		</config-file>

		<source-file src="src/android/XTremePushPlugin.java" target-dir="src/com/xtreme/plugins/" />

		<framework src="native_libs/android/xpush_android_lib/xtremepush_lib" custom="true" />

		<framework src="com.google.android.gms:play-services-gcm:+" />
	</platform>

    <!-- ios -->
	<platform name="ios">
		<resource-file src="xp-config.xml" target="xp-config.xml" />
		<config-file target="./xp-config.xml" parent="/config">
		    <xp-project-id>$XP_PROJECT_ID</xp-project-id>
		    <xp-beacon>$XP_BEACON</xp-beacon>
		    <xp-geo>$XP_GEO</xp-geo>
		    <xp-attributions>$XP_ATTRIBUTIONS</xp-attributions>
		</config-file>

		<config-file target="config.xml" parent="/*">
			<feature name="XTremePush">
				<param name="ios-package" value="XTremePushPlugin"/>
			</feature>
		</config-file>
		<framework src="Security.framework" />
		<framework src="CFNetwork.framework" />
		<framework src="MobileCoreServices.framework" />
		<framework src="CoreTelephony.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="CoreBluetooth.framework" />
		<framework src="libz.dylib" />

		<source-file src="native_libs/ios/libXPush.a" framework="true"/>
		<source-file src="src/ios/AppDelegate+notification.m" />
		<source-file src="src/ios/XTremePushPlugin.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<header-file src="src/ios/XTremePushPlugin.h" />
		<header-file src="native_libs/ios/XPush.h" />


	</platform>
</plugin>
